<!DOCTYPE html>
<html>
<head>
  <title>왓차 : 영화평점서비스</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "홈", root_path %>
<% if user_signed_in? %>
  <%= link_to "로그아웃", destroy_user_session_path, method: :delete %> <br>
  <%= current_user.email if current_user %>님 환영합니다..
<% else %>
  <%= link_to "로그인", new_user_session_path %>
<% end %>

<p class="notice"><%= flash[:notice] %></p>
<p class="alert"><%= flash[:alert] %></p>

<%= yield %>


</body>
</html>
